<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title" style="font-size: xx-large;">
          list category 
        </h3> &nbsp;
        <a routerLink="/new-category"><button class="btn btn-success pull-right" >Add New Category</button></a>

      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories | async">
              <td>{{category.id}}</td>
              <td>{{category.title}}</td>
              <td>
                <button class="btn btn-info" >Update Category</button>
                <button class="btn btn-danger" >Delete Category</button>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>
