<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" routerLink="/create-post1"> Create New Post</button>
  <button mat-raised-button color="primary" routerLink="/view-all"> View All Posts</button>
  <button mat-raised-button color="primary" routerLink="/search-by-name"> Search</button>
  
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-card class="center-card">
  <div>
      <form [formGroup]="postForm">
      <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Img</mat-label>
          <input matInput formControlName="img">
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Content</mat-label>
        <textarea  matInput rows="5" formControlName="content"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Posted By</mat-label>
          <input matInput formControlName="postedBy">
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Tags</mat-label>
          <mat-chip-grid #chipGrid aria-label="Enter tags">
          <mat-chip-row *ngFor="let tag of tags; let i=index" (removed)="remove(tag)">
              {{tag}}
              <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
              </button>
          </mat-chip-row>
          <input  placeholder="New Tag ..."
          [matChipInputFor]="chipGrid"
          (matChipInputTokenEnd)="add($event)"/>
      </mat-chip-grid>
      </mat-form-field>

      <button mat-raised-button color="primary" style="float: right;"
      [disabled]="!postForm.valid" (click)="createPost()">Create New Post</button>


      </form>
  </div>
  </mat-card>
